<div class="ui grid">
  <div class="two wide column"></div>
  <div class="twelve wide column">
    <center>
      <h1>Sobre la aplicacion</h1><hr>
      <h3>Aplicacion realizada con HTML, ANGULARJS, SEMANTIC UI, MULTER, NODEJS, MYSQL y HANDLEBARS</h3>
    </center>
    <div class="ui link cards">
      </center>
      <div class="card">
        <div class="image">
          <img src="{{url}}img/ang.svg">
        </div>
        <div class="content">
          <div class="header">Angular JS</div>
          <div class="meta">
            <a>JavaScript</a>
          </div>
          <div class="description">
            Framework de JavaScript para Front End
          </div>
        </div>
        <div class="extra content">
          <a class="right floated" href="https://angularjs.org/">
            Pagina
          </a>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="{{url}}img/node1.png">
        </div>
        <div class="content">
          <div class="header">Node Js</div>
          <div class="meta">
            <span class="date">JavaScript</span>
          </div>
          <div class="description">
            Framework de JavaScript para Back End
          </div>
        </div>
        <div class="extra content">
          <a class="right floated" href="https://nodejs.org/es/">
            Pagina
          </a>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="{{url}}img/my.png">
        </div>
        <div class="content">
          <div class="header">MySql</div>
          <div class="meta">
            <a>Base de datos</a>
          </div>
          <div class="description">
            Gestor de bases de datos
          </div>
        </div>
        <div class="extra content">
          <a class="right floated" href="https://www.mysql.com/">
            Pagina
          </a>
        </div>
      </div>
      </center>
    </div>
  </div>
  <div class="two wide column"></div>
</div>
