<div class="ui grid">
  <div class="two wide column"></div>
  <div class="twelve wide column">
    <center>
      <h1>Bienvenido a la carga de documentos con AngularJs y Multer</h1><hr>
      <img src="{{url}}img/angularjs.png" height="300" width="300">
      <img src="{{url}}img/node.png" height="300" width="300"><br><br><br>
      <a class="ui green button" href="{{url}}subir/archivo">
        <i class="file icon"></i>
        Subir archivo
      </a>
    <center>
  </div>
  <div class="two wide column"></div>
</div>
