<div class="ui grid">
  <div class="two wide column"></div>
  <div class="twelve wide column">
    <center>
      <h1>Bienvenido a la carga de documentos con AngularJs y Multer</h1><hr>
    <center>
  </div>
  <div class="two wide column"></div>
</div>
